<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HaveItemCount</key>
	<integer>3</integer>
	<key>Lv</key>
	<integer>1</integer>
	<key>HP</key>
	<integer>100</integer>
	<key>Power</key>
	<integer>5</integer>
	<key>Diffence</key>
	<integer>0</integer>
	<key>Equipments</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
</dict>
</plist>
