<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeaponExplanatory</key>
	<array>
		<string>装備を外します</string>
		<string>前方に通常弾を撃つ</string>
		<string>前方１８０度に拡散する弾を発射</string>
		<string>全方位に拡散する弾を発射</string>
	</array>
	<key>TypeName</key>
	<array>
		<string>通常型</string>
		<string>拡散型</string>
		<string>貫通型</string>
		<string>爆発型</string>
		<string>レーザー型</string>
	</array>
	<key>WeaponID0</key>
	<dict>
		<key>Name</key>
		<string>なし</string>
		<key>TypeID</key>
		<integer>0</integer>
		<key>TypeName</key>
		<string>none</string>
		<key>Power</key>
		<integer>0</integer>
		<key>FireRate</key>
		<integer>0</integer>
		<key>Time</key>
		<integer>0</integer>
		<key>WeaponID</key>
		<integer>0</integer>
		<key>Speed</key>
		<integer>0</integer>
		<key>Group</key>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>RandamSeed</key>
			<integer>1</integer>
			<key>Angle</key>
			<integer>1</integer>
		</dict>
		<key>Sequence</key>
		<dict>
			<key>Count</key>
			<integer>0</integer>
			<key>intervalTime</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>WeaponID1</key>
	<dict>
		<key>Name</key>
		<string>Bullet</string>
		<key>TypeID</key>
		<integer>0</integer>
		<key>TypeName</key>
		<string>遠距離</string>
		<key>Power</key>
		<integer>1</integer>
		<key>FireRate</key>
		<real>0.1</real>
		<key>Time</key>
		<integer>4</integer>
		<key>WeaponID</key>
		<integer>1</integer>
		<key>Speed</key>
		<integer>400</integer>
		<key>Group</key>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>RandamSeed</key>
			<integer>0</integer>
			<key>Angle</key>
			<real>0.5</real>
		</dict>
		<key>Sequence</key>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>intervalTime</key>
			<real>0.03</real>
		</dict>
	</dict>
	<key>WeaponID2</key>
	<dict>
		<key>Name</key>
		<string>spreadBullet</string>
		<key>TypeID</key>
		<integer>1</integer>
		<key>TypeName</key>
		<string>近距離</string>
		<key>Power</key>
		<integer>10</integer>
		<key>FireRate</key>
		<real>1.5</real>
		<key>Time</key>
		<integer>1</integer>
		<key>WeaponID</key>
		<integer>2</integer>
		<key>Speed</key>
		<integer>300</integer>
		<key>Group</key>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>RandamSeed</key>
			<integer>0</integer>
			<key>Angle</key>
			<integer>4</integer>
		</dict>
		<key>Sequence</key>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>intervalTime</key>
			<real>0.1</real>
		</dict>
	</dict>
	<key>WeaponID3</key>
	<dict>
		<key>Name</key>
		<string>difBullet</string>
		<key>TypeID</key>
		<integer>2</integer>
		<key>TypeName</key>
		<string>近距離</string>
		<key>Power</key>
		<integer>10</integer>
		<key>FireRate</key>
		<integer>2</integer>
		<key>Time</key>
		<real>0.7</real>
		<key>WeaponID</key>
		<integer>3</integer>
		<key>Speed</key>
		<integer>300</integer>
		<key>Group</key>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>RandamSeed</key>
			<integer>0</integer>
			<key>Angle</key>
			<real>0.2</real>
		</dict>
		<key>Sequence</key>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>intervalTime</key>
			<real>0.1</real>
		</dict>
	</dict>
</dict>
</plist>
